
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  	<meta charset="utf-8">
</head>
<body>
	<div th:fragment="commonHeader">

	</div>

</body>

<div th:fragment="onloadHeader">
	<div id="head">
      <!--Loader-->
      <div class="loader">
        <div class="spinner-load">
          <div class="dot1">
          </div>
          <div class="dot2">
          </div>
        </div>
      </div>
      
      <!--HEADER-->
      <header>
        <nav class="navbar navbar-default navbar-sticky bootsnav">
          <div class="container">
            <div class="attr-nav">
              <ul>
                <li class="search">
                  <a href="#.">
                    <i class="fa fa-search">
                    </i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Start Header Navigation -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars">
                </i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img src="../../images/logo.png" class="logo" alt="">
              </a>
            </div>
            <!-- End Header Navigation -->
            <div class="collapse navbar-collapse" id="navbar-menu">
              <ul class="nav navbar-nav navbar-right" data-in="fadeIn" data-out="fadeOut">
                <li class="dropdown active">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">首页
                  </a>
                </li>
                <li class="dropdown megamenu-fw">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">空调分类
                  </a>
                  <ul class="dropdown-menu megamenu-content" role="menu">
                    <li>
                      <div class="row">
                        <div class="col-menu" :class="'col-md-' + 12/categoryList.length" v-for="(item,index) in categoryList">
                          <h5 class="title heading_border" :data-id="item.id">{{item.title}}</h5>
                          <div class="content">
                            <ul class="menu-col">
                              <li v-for="item2 in item.children">
                                <a href="blog1.html" :data-id="item2.id">{{item2.title}}</a>
                                <div class="content-child clearfix">
                                  <ul>
                                    <li v-for='item3 in item2.children'>
                                      <a href="" :data-id="item3.id">{{item3.title}}</a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="about">关于我们
                  </a>
                </li>
                <li class="dropdown">
                  <a href="#." class="dropdown-toggle" data-toggle="dropdown">语言
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="grid.html">中文
                      </a>
                    </li>
                    <li>
                      <a href="grid_list.html">英文
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
            <div class=" search-toggle">
              <div class="top-search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-addon">
                    <i class="fa fa-search">
                    </i>
                  </span>
                </div>
              </div>
            </div>
          </div>   
        </nav>
      </header>
	</div>
	
   	<script src="../../js/bootsnav.js"></script>
	<script type="text/javascript">
      new Vue({
        el: "#head",
        data: {
            banner_swiper : '',
            banner_slide_height : '500px',
            banner_proportion:1/3,
            screenWidth: document.body.clientWidth,
            categoryList : [], /*分类数组*/
        },
        watch: {
            'screenWidth': function (o) {
              this.caclu_swiper_height(o);
            },
			'categoryList' : function (){
				var that = this;
				that.$nextTick(function () {
					that.initMenuEach();
    			})
			}
        },
        init : function (){
          this.$nextTick(function () {
            
          })
        },
        created: function () {
        	/*获取分类*/
            this.getCategory();

        },
        updated: function () {
            this.$nextTick(function () {
                
            })
        },
        mounted: function () {
            var that = this;
            window.onresize = () => {
                return (() => {
                    window.screenWidth = document.body.clientWidth;
                    that.screenWidth = window.screenWidth;
                })()
            };
            this.$nextTick(function () {
                this.banner_swiper = new Swiper('#banner_swiper', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    nextButton: '.swiper-button-next',
                    prevButton: '.swiper-button-prev',
                    spaceBetween: 30,
                    effect: 'fade'
                });
                this.caclu_swiper_height(this.screenWidth);
            });
        },
        methods: {
            caclu_swiper_height : function (val){
                this.banner_slide_height = val * this.banner_proportion + "px";
            },
            initMenuEach : function (){
            	var that = this;
            	var getIn = $("nav.navbar.bootsnav").find("ul.nav").data("in");
				$(".megamenu-fw").each(function(){
                    $(".col-menu", this).each(function(){
                        $(".content", this).addClass("animated");
                        $(".content", this).stop().fadeOut();
                        $(".title", this).off("click");
                        $(".title", this).on("click", function(){
                            $(this).closest(".col-menu").siblings().removeClass("on");
                            $(this).closest(".col-menu").siblings().find(".title").removeClass("on");
                            $(this).closest(".col-menu").siblings().find(".content").stop().hide().removeClass(getIn);

                            $(this).closest(".col-menu").find(".content").stop().fadeToggle().addClass(getIn);
                            $(this).closest(".col-menu").toggleClass("on");
                            $(this).toggleClass("on");
                            return false;
                        });

                        $(".content", this).on("click", function(e){
                            e.stopPropagation();
                        });
                    });
                });  
            },
            getCategory : function (){
            	var that = this;
            	$.ajax({
            		url : '/category/getmenu',
            		data : {},
            		type : "post",
            		success : function (data){
            			data = JSON.parse(data);
            			that.$nextTick(function () {
                			that.categoryList = data;
            			})
            		}
            	})
            },
        }
    });
    </script>
</div>
</html>
