<!doctype html>
<html lang="en">
	<head>
	  	<meta charset="utf-8">
	    <title>产品列表</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	    <meta name="keywords" content="" />
	    <meta name="description" content="" /> 
	    <meta name="author" content="" />
	    <meta name="copyright" content="" />
  	</head>
<body>
	<div th:include="head :: onloadCSS"></div>
	<div th:include="foot :: onloadJS"></div>
	<div th:include="commonHeader :: onloadHeader"></div>
	
	<div id="app">
		<section class="grid padding">
		  <div class="container">
		    <div class="row shop-grid grid-view">
		      <div class="col-md-3 col-sm-6 col-xs-6" v-for="item in goodsArr">
		        <div class="product_wrap heading_space">
		          <div class="image">
		            <!-- <div class="tag">
		                <div class="tag">
			                <div class="tag-btn">
			                	<span class="uppercase text-center">New</span>
			                </div>
		              </div>
		            </div> -->
		            <a class="fancybox" href="#">
		            	<img :src="item.goodsThumb" alt="Product" class="img-responsive">
		            </a>
		          </div>
		          <div class="product_desc">
		           	<p class="title">{{item.goodsName}}</p>
		           	<div class="list_content">
		               <h4 class="bottom30">Sacrificial Chair Design </h4>
		               <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu 
		               feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
		                dolore te feugait nulla facilisi. </p>
		                <ul class="review_list bottomtop30">
		                  <li><img alt="star" src="images/star.png"></li>
		                  <li><a href="#.">10 review(s) </a></li>
		                  <li><a href="#.">Add your review</a></li>
		                </ul>
		                <h4 class="price bottom30"><i class="fa fa-gbp"></i>170.00 &nbsp;<span class="discount"><i class="fa fa-gbp"></i>170.00</span></h4>
		                <div class="cart-buttons">
		                  <a class="uppercase border-radius btn-dark" href="cart.html"><i class="fa fa-shopping-basket"></i> &nbsp; Add to cart</a>
		                  <a class="icons" href="#.">
		                  <i class="fa fa-heart-o"></i>
		                  </a>
		                  <a class="icons" href="#.">
		                  <i class="fa fa-exchange"></i>
		                  </a>
		                </div>
		           </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
		
		<!--Footer-->
		<footer class="padding_top bottom_half">
		  <a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>
		  <div class="container">
		    <div class="row">
		      <div class="col-md-3 col-sm-6">
		        <div class="footer_panel content_space">
		          <h4 class="heading_border heading_space">about store</h4>
		          <ul class="about_foot">
		           <li><i class="fa fa-home"></i>234 Heaven Stress, Beverly Hill.</li>
		           <li><i class="fa fa-phone"></i>800) 123 456 789</li>
		           <li><a href="#."><i class="fa fa-envelope-o"></i>Contact@erentheme.com</a></li>
		           <li>
		             <span><img src="images/paymennt1.png" alt="payment"></span> 
		             <span><img src="images/payment2.png" alt="payment"></span> 
		             <span><img src="images/payment3.jpg" alt="payment"></span> 
		             <span><img src="images/payment4.png" alt="payment"></span> 
		             <span><img src="images/payment5.png" alt="payment"></span>
		           </li>
		          </ul>
		        </div>
		      </div>
		      <div class="col-md-3 col-sm-6">
		        <div class="footer_panel content_space">
		          <h4 class="heading_border heading_space">My Account</h4>
		          <ul class="account_foot">
		           <li><a href="#.">My Account</a></li>
		           <li><a href="#.">Login</a></li>
		           <li><a href="#.">My Cart</a></li>
		           <li><a href="#.">Wishlist</a></li>
		           <li><a href="#.">Checkout</a></li>
		           <li><a href="#.">Userinfo</a></li>
		          </ul>
		        </div>
		      </div>
		      <div class="col-md-3 col-sm-6">
		        <div class="footer_panel content_space">
		          <h4 class="heading_border heading_space">INFORMATION</h4>
		          <ul class="account_foot">
		           <li><a href="#.">My Account</a></li>
		           <li><a href="#.">Login</a></li>
		           <li><a href="#.">My Cart</a></li>
		           <li><a href="#.">Wishlist</a></li>
		           <li><a href="#.">Checkout</a></li>
		           <li><a href="#.">Userinfo</a></li>
		          </ul>
		        </div>
		      </div>
		      <div class="col-md-3 col-sm-6">
		        <div class="footer_panel content_space">
		          <h4 class="heading_border heading_space">Customer Service</h4>
		          <ul class="account_foot">
		           <li><a href="#.">Shipping Policy</a></li>
		           <li><a href="#.">Compensation First</a></li>
		           <li><a href="#.">My Account</a></li>
		           <li><a href="#.">Return Policy</a></li>
		           <li><a href="#.">Contact Us</a></li>
		           <li><a href="#.">Shipping Info</a></li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
		</footer>
		<div class="copyright">
		  <div class="container">
		    <div class="row">
		      <div class="col-sm-4">
		        <p style="font-family:'Microsoft Yahei'; font-style: normal;">&copy; 2018 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码</a></p>
		      </div>
		      <div class="col-sm-8">
		        <ul class="social">
		          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
		          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		          <li><a href="#"><i class="fa fa-rss"></i></a></li>
		          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
		          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
		        </ul>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
<script type="text/javascript">
new Vue({
    el: "#app",
    data: {
    	currentPage : 1,
    	pageSize : 20,
    	goodsArr : [],
    },
    watch: {
        

    },
    init : function (){
    	this.$nextTick(function () {
        	
        })
    },
    created: function () {
    	var catid = this.getGid("catid");
    	this.getGoodsArr(catid,this.currentPage,this.pageSize);
    },
    updated: function () {
        this.$nextTick(function () {
            
        })
    },
    mounted: function () {
        
    },
    methods: {
    	getGid : function (str){
        	var url = window.location.href;
        	var that = this;
        	var finalValue = '';
        	if(url.indexOf("?") >= 0){
        		var urlarr = url.split("?");
        		if(urlarr[1].indexOf("&") >= 0){
        			var newurlarr = urlarr[1].split("&");
        			for(var i=0;i<newurlarr.length;i++){
        				if(newurlarr[i].indexOf(str) >= 0){
        					finalValue = that.getUrlValue(newurlarr[i],str);
        					return false;
        				}
        			}
        		}else{
        			finalValue = that.getUrlValue(urlarr[1],str);
        		}
        	}
        	return finalValue;
        },
        getUrlValue : function (arr,str){
        	var curr_url = arr.split(str+'=');
        	return curr_url[1];
        },
        getGoodsArr :function (catid,currentPage,pageSize){
        	var that = this;
        	$.ajax({
        		url : '/goods/getbycondition',
        		data : {catid:catid,currentPage:currentPage,pageSize:pageSize},
        		type : "post",
        		success : function (data){
        			data = JSON.parse(data);
        			console.log(data)
        			that.$nextTick(function () {
            			that.goodsArr = data.result;
        			})
        		}
        	})
        },
    }
});
   </script>

</body>
</html>
