
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="head">

	</div>

</body>

<div th:fragment="onloadCSS">
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../../css/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="../../css/bootsnav.css">
    <link rel="stylesheet" type="text/css" href="../../css/settings.css">
    <link rel="stylesheet" type="text/css" href="../../css/loader.css">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
  		<script src="js/respond.min.js"></script>
	<![endif]-->
</div>
</html>
